@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #8AC6E6;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav #header-cloud-ani {
  position: fixed;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  height: 140px;
  width: 100%;
  -webkit-animation: upDown 5s .5s linear infinite alternate;
          animation: upDown 5s .5s linear infinite alternate;
}

nav #forester-logo {
  width: 100px;
}

nav .header-background-cloud {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

nav .header-background-cloud ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 10px  auto;
}

nav .header-background-cloud ul li {
  display: inline-block;
}

nav .header-background-cloud ul li a {
  font-size: 22px;
  font-family: 微軟正黑體;
  font-weight: bold;
  color: #008c95;
}

@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -10px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -10px;
  }
  100% {
    top: -5px;
  }
}

@keyframes upDown {
  0% {
    top: 0;
  }
  20% {
    top: -5px;
  }
  40% {
    top: -10px;
  }
  60% {
    top: -5px;
  }
  80% {
    top: -10px;
  }
  100% {
    top: -5px;
  }
}

/*手機漢堡堡*/
@media screen and (max-width: 767px) {
  nav #header-cloud-ani {
    display: none;
  }
  nav .header-background-cloud {
    background-color: #fff;
    width: 100%;
    height: 10vh;
    margin: auto;
  }
  nav .header-background-cloud ul {
    margin: auto;
  }
  nav .header-background-cloud ul li a {
    font-size: 22px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #008c95;
  }
  .icon {
    position: fixed;
    top: 3vh;
    left: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .hamburger {
    width: 50px;
    height: 5px;
    background-color: #008c95;
    position: absolute;
    top: 20px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: #008c95;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .hamburger::before {
    top: -10px;
  }
  .hamburger::after {
    top: 10px;
  }
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.icon.active .hamburger::after {
  top: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top .5s;
  transition: top .5s;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 140px auto 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

div, h1, h2, h3, h4, h5, h6, p, span {
  font-family: '微軟正黑體';
  letter-spacing: 1.5;
}

.wrap {
  outline: 1px solid red;
  position: relative;
}

.all-plan-title {
  width: 30%;
}

.all-plan-title img {
  position: relative;
  top: -150px;
  display: block;
  margin: auto;
  z-index: -1;
  width: 40vh;
}

.explain-icons {
  position: absolute;
  top: 70px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explain-icons .icons-all {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.explain-icons .icons-all img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

.explain-icons .icons-all span {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.allPlan-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 60px;
}

.allPlan-group .allPlan-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.33333333333%;
  outline: 1px solid red;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.allPlan-group .allPlan-box h2 {
  font-family: '微軟正黑體';
  font-size: 24px;
  font-weight: bold;
  color: #233a5c;
  letter-spacing: 1.5;
  font-weight: bold;
  width: 150px;
  margin: 0 auto 30px;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.allPlan-group .allPlan-box h2::after {
  content: '';
  width: 0px;
  height: 0px;
  border-color: #fff #fff transparent transparent;
  border-style: solid solid solid solid;
  border-width: 10px 5px 10px 5px;
  position: absolute;
  top: 40px;
  left: 10px;
}

.allPlan-group .allPlan-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.allPlan-group .allPlan-box:hover h2 {
  color: #e13a8c;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.allPlan-group .allPlan-box .allPlan-pic {
  width: 80%;
  position: relative;
  left: 7%;
}

.allPlan-group .allPlan-box .allPlan-pic img {
  width: 100%;
  border: 5px solid white;
  border-radius: 13px;
}

.allPlan-value-table {
  margin: 10px auto 0;
}

.allPlan-value-table td {
  font-family: '微軟正黑體';
  font-size: 15px;
  color: #232323;
  letter-spacing: 1.5;
  padding: 5px;
  vertical-align: middle;
}

.allPlan-value-table td img {
  width: 40px;
  height: 40px;
}

#goToPlan {
  cursor: pointer;
  position: relative;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
  height: 50px;
  display: inline-block;
  font-family: '微軟正黑體';
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #e13a8c;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 2px 0px #bbb, 0px 3px 0px #aaa, 0px 4px 0px #999;
  display: block;
  width: 150px;
  margin: 20px auto 60px;
}

#goToPlan:hover {
  top: 4px;
  -webkit-box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
          box-shadow: 0px 1px 0px #ccc, 0px 1px 0px #bbb, 0px 2px 0px #aaa, 0px 2px 0px #999;
}
/*# sourceMappingURL=allPlan.css.map */