//bgc
$green: #92be40;

//title -> $color 
$black: #232323;


//btn -> $btnColor
$White: #fff;
$red: #b74848;


//btn -> $bthBgcColor
$pink: #e13a8c;
$yellow: #f5b942;

//cardbgc:
$cardYellow: #d79c58;

// rwd變數
$mb :  768px;
$dt: 1200px;